openapi: 3.0.1
info:
  description: "The Entitlements service provides REST APIs that manage the assignments\
    \ of entitlements and quotas to subaccounts and directories.  \nEntitlements and\
    \ their quota are automatically assigned to the global account when a customer\
    \ order is fulfilled. Use the APIs in this service to manage the distribution\
    \ of this global quota to your directories and subaccounts.  \nNOTE: These APIs\
    \ are relevant only for cloud management tools feature set B. For details and\
    \ information about whether this applies to your global account, see [Cloud Management\
    \ Tools - Feature Set Overview](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/caf4e4e23aef4666ad8f125af393dfb2.html).\n\
    \nSee also:\n* [Authorization](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/3670474a58c24ac2b082e76cbbd9dc19.html)\n\
    * [Rate Limiting](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/77b217b3f57a45b987eb7fbc3305ce1e.html)\n\
    * [Error Response Format](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/77fef2fb104b4b1795e2e6cee790e8b8.html)\n\
    * [Asynchronous Jobs](https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/latest/en-US/0a0a6ab0ad114d72a6611c1c6b21683e.html)"
  termsOfService: http://www.sap.com
  title: Entitlements Service
  version: "1.0"
externalDocs:
  description: Account Administration Using APIs of the SAP Cloud Management Service
  url: https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/17b6a171552544a6804f12ea83112a3f.html
servers:
- description: Generated server url
  url: https://entitlements-service.cfapps.eu10.hana.ondemand.com
security:
- OAuth2: []
tags:
- description: Manage Assigned Entitlements
  name: Manage Assigned Entitlements
- description: Job Management
  name: Job Management
- description: Regions for Global Account
  name: Regions for Global Account
paths:
  /entitlements/v1/assignments:
    get:
      description: |-
        Get all the entitlements and quota assignments for a global account and its directories and subaccounts. The information returned depends on the target of this API:
        - When the target is a global account, you view all the resources a global account and its directories and subaccounts are entitled to use. In this case, you omit the directoryGUID and subaccountGUID in the API call.
        - When the target is directory (applies only to directories that can manage their own entitlements), you view all the resources the directory and its subaccounts are entitled to use.
        - When the target is a specific subaccount, you can view all the entitlements and quota assigned to the subaccount.<br/><br/>Required scopes: $XSAPPNAME.directory.entitlement.read or $XSAPPNAME.global-account.entitlement.read
      operationId: getDirectoryAssignments
      parameters:
      - description: The ID of the directory for which to show the entitlements and
          quota assignments.
        explode: true
        in: query
        name: directoryGUID
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the subaccount for which to show the entitlements and
          quota assignments.
        explode: true
        in: query
        name: subaccountGUID
        required: false
        schema:
          type: string
        style: form
      - description: Specify if to include also services that are automatically entitled
          to a global account when the global account is created. Default is false.
        explode: true
        in: query
        name: includeAutoManagedPlans
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Indicates the natural language and locale that the client prefers.
        example: '*'
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
        style: simple
      - description: "When true: (1) only the available services for which the global\
          \ account is entitled (under 'entitledServices') are retrieved, and (2)\
          \ services that are assigned to directories and subaccounts in the global\
          \ account are not retrieved (under 'assignedServices'). When false, both\
          \ 'entitledServices' and 'assignedServices' are retrieved. Default value:\
          \ false"
        explode: true
        in: query
        name: entitledServicesOnly
        required: false
        schema:
          type: boolean
        style: form
      - description: "A specific service for which to return subaccount quota assignments\
          \ in the global account or directory. If not specified, then all services\
          \ in the global account or directory are returned."
        explode: true
        in: query
        name: assignedServiceName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitledAndAssignedServicesResponseObject'
          description: Ok
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Get all the entitlements and quota assignments
      tags:
      - Manage Assigned Entitlements
  /entitlements/v1/directories/{directoryGUID}/assignments:
    patch:
      description: "Update an entitlement plan of a service, multitenant application,\
        \ or environment that is already assigned to a directory. Use it to apply\
        \ changes to the distribution of a plan and quota to subaccounts in a directory.\
        \ You cannot use this API to assign new plans or to change the quota assigned\
        \ to a directory. This API is valid only for directories that are enabled\
        \ to manage their entitlements. Note that some environments, such as Cloud\
        \ Foundry, are available by default to all subaccounts, and therefore are\
        \ not displayed as entitlements.<br/><br/>Required scopes: $XSAPPNAME.directory.entitlement.update"
      operationId: updateEntitlements
      parameters:
      - description: The unique ID of the directory to which the entitlement is assigned.
        explode: false
        in: path
        name: directoryGUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryAssignmentsPatchUpdateRequestPayloadCollection'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Bad request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Update an existing entitlement in a directory
      tags:
      - Manage Assigned Entitlements
    put:
      description: "Assign or update an entitlement plan of a service, multitenant\
        \ application, or environment, to a directory. This is valid only for directories\
        \ that are enabled to manage their entitlements.The amount that can be assigned\
        \ to plans that are based on a numeric quota, is subject to available quota\
        \ in the global account.Note that some environments, such as Cloud Foundry,\
        \ are available by default to all subaccounts, and therefore are not displayed\
        \ as entitlements.<br/><br/>Required scopes: $XSAPPNAME.directory.entitlement.update"
      operationId: createOrUpdateEntitlements
      parameters:
      - description: The unique ID of the directory to which the entitlement is assigned.
        explode: false
        in: path
        name: directoryGUID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryAssignmentsRequestPayloadCollection'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Bad request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Assign or update an entitlement in a directory
      tags:
      - Manage Assigned Entitlements
  /entitlements/v1/globalAccountAllowedDataCenters:
    get:
      description: "Get all data centers that are available for the global account,\
        \ including information such as their names, regions where they are located,\
        \ and their IaaS providers.<br/><br/>Returns only data centers that are defined\
        \ as a main data center. For regions that comprise multiple data centers,\
        \ use the includeSatelliteDataCenters parameter to list also the regions'\
        \ satellite data centers.<br/><br/>Required scopes: $XSAPPNAME.global-account.region.read"
      operationId: getAllowedDataCenters
      parameters:
      - description: Region for which to get data centers.
        example: region
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: "Whether to list also satellite data centers in regions that\
          \ comprise multiple data centers. When omitted, only data centers that are\
          \ defined as a main data center are listed."
        explode: true
        in: query
        name: includeSatelliteDataCenters
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Indicates the natural language and locale that the client prefers.
        example: '*'
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCenterResponseCollection'
          description: Ok
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Get available data centers
      tags:
      - Regions for Global Account
  /entitlements/v1/globalAccountAssignments:
    get:
      description: "Get details about all the entitlements assigned to a global account.<br/><br/>Required\
        \ scopes: $XSAPPNAME.global-account.entitlement.read"
      operationId: getGlobalAccountAssignments
      parameters:
      - description: |-
          Use the parameter to specify for which subaccount to view assigned entitlements.
          If left empty, the API returns the entitlements for the global account and all its subaccounts.
        explode: true
        in: query
        name: subaccountGUID
        required: false
        schema:
          type: string
        style: form
      - description: Indicates the natural language and locale that the client prefers.
        example: '*'
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          type: string
        style: simple
      - description: Specify if to include also services that are automatically assigned
          to a subaccount when the subaccount is created. Default is false.
        explode: true
        in: query
        name: includeAutoManagedPlans
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "When true: (1) only the available services for which the global\
          \ account is entitled (under 'entitledServices') are retrieved, and (2)\
          \ services that are assigned to directories and subaccounts in the global\
          \ account are not retrieved (under 'assignedServices'). When false, both\
          \ 'entitledServices' and 'assignedServices' are retrieved. Default value:\
          \ false"
        explode: true
        in: query
        name: entitledServicesOnly
        required: false
        schema:
          type: boolean
        style: form
      - description: "A specific service for which to return subaccount quota assignments\
          \ in the global account. If not specified, then all services in the global\
          \ account are returned."
        explode: true
        in: query
        name: assignedServiceName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitledAndAssignedServicesResponseObject'
          description: Ok
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Get entitlements assigned to a global account
      tags:
      - Manage Assigned Entitlements
  /entitlements/v1/subaccountServicePlans:
    put:
      description: "Assign or update an entitlement of a service, multitenant application,\
        \ or environment plan, to a subaccount. Subaccounts can be located either\
        \ directly under the global account, or under a directory in the global account.When\
        \ a subaccount is located directly under the global account, total amount\
        \ of service or application plan it is entitled to consume cannot exceed the\
        \ entitlement’s quota for the global account. This is also true for the directories\
        \ that are not enabled to manage their quota as they consume the quota from\
        \ the global account.<br/>For the directories that are enabled to manage their\
        \ entitlements, the total amounts assigned to subaccounts cannot exceed the\
        \ entitlement’s quota for these directories.<br/>Note that some environments,\
        \ such as Cloud Foundry, are available by default to all subaccounts, and\
        \ therefore are not displayed as entitlements.<br/><br/>Required scopes: $XSAPPNAME.global-account.entitlement.subaccount.update"
      operationId: setServicePlans
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountServicePlansRequestPayloadCollection'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                type: string
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Bad request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Conflict
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Assign entitlements to subaccounts
      tags:
      - Manage Assigned Entitlements
  /jobs-management/v1/jobs/{jobInstanceIdOrUniqueId}/status:
    get:
      description: "Get information for a specified job, including its ID and its\
        \ current status.<br/><br/>Required scope: $XSAPPNAME.job.read"
      operationId: getStatus
      parameters:
      - description: ID of the job for which to get status
        explode: false
        in: path
        name: jobInstanceIdOrUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Bad request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Not Found
        "429":
          description: Rate Limit Exceeded
          headers:
            X-Ratelimit-Reset:
              description: "The time at which the rate limit will reset, expressed\
                \ in milliseconds. It indicates the timestamp when the client can\
                \ make additional requests without exceeding the rate limit."
              example: "167918400000"
              explode: false
              schema:
                format: long
                type: string
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExceptionResponseObject'
          description: Internal Server Error
      summary: Get job status
      tags:
      - Job Management
components:
  schemas:
    ApiExceptionResponseObject:
      example:
        error:
          code: 1.2315135367772556
          correlationID: correlationID
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ApiExceptionResponseObject_error'
      required:
      - error
      type: object
    AssignedServicePlanResponseObject:
      description: List of service plans associated with the assigned service.
      example:
        displayName: displayName
        unlimited: true
        name: name
        maxAllowedSubaccountQuota: 2
        category: PLATFORM
        beta: true
        assignmentInfo:
        - amount: 0.8008281904610115
          parentAmount: 1.4658129805029452
          entityType: GLOBAL_ACCOUNT or SUBACCOUNT
          stateMessage: stateMessage
          resources:
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          autoAssigned: true
          entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
          unlimitedAmountAssigned: true
          parentId: parentId
          parentType: SUBACCOUNT
          autoAssign: true
          autoDistributeAmount: 6
          createdDate: createdDate
          entityState: STARTED
          parentRemainingAmount: 5.962133916683182
          modifiedDate: modifiedDate
          requestedAmount: 5.637376656633329
        - amount: 0.8008281904610115
          parentAmount: 1.4658129805029452
          entityType: GLOBAL_ACCOUNT or SUBACCOUNT
          stateMessage: stateMessage
          resources:
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          autoAssigned: true
          entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
          unlimitedAmountAssigned: true
          parentId: parentId
          parentType: SUBACCOUNT
          autoAssign: true
          autoDistributeAmount: 6
          createdDate: createdDate
          entityState: STARTED
          parentRemainingAmount: 5.962133916683182
          modifiedDate: modifiedDate
          requestedAmount: 5.637376656633329
        uniqueIdentifier: uniqueIdentifier
      properties:
        assignmentInfo:
          description: Assignment detailed information
          items:
            $ref: '#/components/schemas/AssignedServicePlanSubaccountDTO'
          type: array
        beta:
          description: Whether the service plan is a beta feature.
          type: boolean
        category:
          description: |-
            The type of service offering. Possible values:
            * <b>PLATFORM:</b> A service required for using a specific platform; for example, Application Runtime is required for the Cloud Foundry platform.
            * <b>SERVICE:</b> A commercial or technical service. that has a numeric quota (amount) when entitled or assigned to a resource. When assigning entitlements of this type, use the 'amount' option instead of 'enable'. See: PUT/entitlements/v1/directories/{directoryGUID}/assignments.
            * <b>ELASTIC_SERVICE:</b> A commercial or technical service that has no numeric quota (amount) when entitled or assigned to a resource. Generally this type of service can be as many times as needed when enabled, but may in some cases be restricted by the service owner. When assigning entitlements of this type, use the 'enable' option instead of 'amount'. See: PUT/entitlements/v1/directories/{directoryGUID}/assignments.
            * <b>ELASTIC_LIMITED:</b> An elastic service that can be enabled for only one subaccount per global account.
            * <b>APPLICATION:</b> A multitenant application to which consumers can subscribe. As opposed to applications defined as a 'QUOTA_BASED_APPLICATION', these applications do not have a numeric quota and are simply enabled or disabled as entitlements per subaccount.
            * <b>QUOTA_BASED_APPLICATION:</b> A multitenant application to which consumers can subscribe. As opposed to applications defined as 'APPLICATION', these applications have an numeric quota that limits consumer usage of the subscribed application per subaccount. When maxAllowedSubaccountQuota is > 0, this is the limit that can be set when assigning the max quota entitlement of the app to any subaccount. If maxAllowedSubaccountQuota is = 0 or null, the max quota that can be entitled to any subaccount is the amount purchased by the customer (the global account quota).
            * <b>ENVIRONMENT:</b> An environment service; for example, Cloud Foundry.
          enum:
          - PLATFORM
          - SERVICE
          - ELASTIC_SERVICE
          - ELASTIC_LIMITED
          - APPLICATION
          - QUOTA_BASED_APPLICATION
          - ENVIRONMENT
          type: string
        displayName:
          description: The name of the service plan for customer-facing UIs.
          type: string
        maxAllowedSubaccountQuota:
          description: |-
            The maximum allowed usage quota per subaccount for multitenant applications and environments that are defined as "quota-based". This quota limits the usage of the application and/or environment per subaccount per a given usage metric that is defined within the application or environment by the service provider. If null, the usage limit per subaccount is the maximum free quota in the global account.
            For example, a value of 1 could: (1) limit the number of subscriptions to a quota-based multitenant application within a global account according to the purchased quota, or (2) restrict the enablement of a single instance of an environment per subaccount.
          format: int32
          type: integer
        name:
          description: The unique registration name of the service plan.
          type: string
        uniqueIdentifier:
          description: A unique identifier for service plans that can distinguish
            between the same service plans with different pricing plans.
          type: string
        unlimited:
          description: Is the quota of this service plan entitled to the global account
            with unlimited usage.
          type: boolean
      type: object
    AssignedServicePlanSubaccountDTO:
      description: Assignment detailed information
      example:
        amount: 0.8008281904610115
        parentAmount: 1.4658129805029452
        entityType: GLOBAL_ACCOUNT or SUBACCOUNT
        stateMessage: stateMessage
        resources:
        - resourceTechnicalName: resourceTechnicalName
          resourceData:
            key: "{}"
          resourceName: resourceName
          resourceProvider: resourceProvider
          resourceType: resourceType
        - resourceTechnicalName: resourceTechnicalName
          resourceData:
            key: "{}"
          resourceName: resourceName
          resourceProvider: resourceProvider
          resourceType: resourceType
        autoAssigned: true
        entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
        unlimitedAmountAssigned: true
        parentId: parentId
        parentType: SUBACCOUNT
        autoAssign: true
        autoDistributeAmount: 6
        createdDate: createdDate
        entityState: STARTED
        parentRemainingAmount: 5.962133916683182
        modifiedDate: modifiedDate
        requestedAmount: 5.637376656633329
      properties:
        amount:
          description: The quantity of the entitlement that is assigned to the root
            global account or directory.
          type: number
        autoAssign:
          description: Whether the plan is automatically distributed to the subaccounts
            that are located in the directory.
          type: boolean
        autoAssigned:
          description: Specifies if the plan was automatically assigned regardless
            of any action by an admin. This applies to entitlements that are always
            available to subaccounts and cannot be removed.
          type: boolean
        autoDistributeAmount:
          description: "The amount of the entitlement to automatically assign to subaccounts\
            \ that are added in the future to the entitlement's assigned directory.\
            \  \nRequires that autoAssign is set to TRUE, and there is remaining quota\
            \ for the entitlement. To automatically distribute to subaccounts that\
            \ are added in the future to the directory, distribute must be set to\
            \ TRUE."
          format: int32
          type: integer
        createdDate:
          description: Date the subaccount has been created. Dates and times are in
            UTC format.
          format: number
          type: string
        entityId:
          description: The unique ID of the global account or directory to which the
            entitlement is assigned.
          example: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
          type: string
        entityState:
          description: |-
            The current state of the service plan assignment.
            * <b>STARTED:</b> CRUD operation on an entity has started.
            * <b>PROCESSING:</b> A series of operations related to the entity is in progress.
            * <b>PROCESSING_FAILED:</b> The processing operations failed.
            * <b>OK:</b> The CRUD operation or series of operations completed successfully.
          enum:
          - STARTED
          - PROCESSING
          - PROCESSING_FAILED
          - OK
          type: string
        entityType:
          description: |-
            The type of entity to which the entitlement is assigned.
            * <b>SUBACCOUNT:</b> The entitlement is assigned to a subaccount.
            * <b>GLOBAL_ACCOUNT:</b> The entitlement is assigned to a root global account.
            * <b>DIRECTORY:</b> The entitlement is assigned to a directory.
          enum:
          - SUBACCOUNT
          - GLOBAL_ACCOUNT
          - DIRECTORY
          example: GLOBAL_ACCOUNT or SUBACCOUNT
          type: string
        modifiedDate:
          description: Date the subaccount has been modified. Dates and times are
            in UTC format.
          format: number
          type: string
        parentAmount:
          type: number
        parentId:
          type: string
        parentRemainingAmount:
          type: number
        parentType:
          enum:
          - SUBACCOUNT
          - GLOBAL_ACCOUNT
          - DIRECTORY
          type: string
        requestedAmount:
          description: The requested amount when it is different from the actual amount
            because the request state is still in process or failed.
          type: number
        resources:
          description: Global account resource details
          items:
            $ref: '#/components/schemas/ExternalResourceRequestPayload'
          type: array
        stateMessage:
          description: Information about the current state.
          type: string
        unlimitedAmountAssigned:
          description: "True, if an unlimited quota of this service plan assigned\
            \ to the directory or subaccount in the global account. False, if the\
            \ service plan is assigned to the directory or subaccount with a limited\
            \ numeric quota, even if the service plan has an unlimited usage entitled\
            \ on the level of the global account."
          type: boolean
      type: object
    AssignedServiceResponseObject:
      description: The list of services that are assigned to subaccounts located under
        a global account.
      example:
        ownerType: VENDOR
        displayName: displayName
        businessCategory:
          displayName: displayName
          id: id
        name: name
        iconBase64: iconBase64
        servicePlans:
        - displayName: displayName
          unlimited: true
          name: name
          maxAllowedSubaccountQuota: 2
          category: PLATFORM
          beta: true
          assignmentInfo:
          - amount: 0.8008281904610115
            parentAmount: 1.4658129805029452
            entityType: GLOBAL_ACCOUNT or SUBACCOUNT
            stateMessage: stateMessage
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            autoAssigned: true
            entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
            unlimitedAmountAssigned: true
            parentId: parentId
            parentType: SUBACCOUNT
            autoAssign: true
            autoDistributeAmount: 6
            createdDate: createdDate
            entityState: STARTED
            parentRemainingAmount: 5.962133916683182
            modifiedDate: modifiedDate
            requestedAmount: 5.637376656633329
          - amount: 0.8008281904610115
            parentAmount: 1.4658129805029452
            entityType: GLOBAL_ACCOUNT or SUBACCOUNT
            stateMessage: stateMessage
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            autoAssigned: true
            entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
            unlimitedAmountAssigned: true
            parentId: parentId
            parentType: SUBACCOUNT
            autoAssign: true
            autoDistributeAmount: 6
            createdDate: createdDate
            entityState: STARTED
            parentRemainingAmount: 5.962133916683182
            modifiedDate: modifiedDate
            requestedAmount: 5.637376656633329
          uniqueIdentifier: uniqueIdentifier
        - displayName: displayName
          unlimited: true
          name: name
          maxAllowedSubaccountQuota: 2
          category: PLATFORM
          beta: true
          assignmentInfo:
          - amount: 0.8008281904610115
            parentAmount: 1.4658129805029452
            entityType: GLOBAL_ACCOUNT or SUBACCOUNT
            stateMessage: stateMessage
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            autoAssigned: true
            entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
            unlimitedAmountAssigned: true
            parentId: parentId
            parentType: SUBACCOUNT
            autoAssign: true
            autoDistributeAmount: 6
            createdDate: createdDate
            entityState: STARTED
            parentRemainingAmount: 5.962133916683182
            modifiedDate: modifiedDate
            requestedAmount: 5.637376656633329
          - amount: 0.8008281904610115
            parentAmount: 1.4658129805029452
            entityType: GLOBAL_ACCOUNT or SUBACCOUNT
            stateMessage: stateMessage
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            autoAssigned: true
            entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
            unlimitedAmountAssigned: true
            parentId: parentId
            parentType: SUBACCOUNT
            autoAssign: true
            autoDistributeAmount: 6
            createdDate: createdDate
            entityState: STARTED
            parentRemainingAmount: 5.962133916683182
            modifiedDate: modifiedDate
            requestedAmount: 5.637376656633329
          uniqueIdentifier: uniqueIdentifier
        applicationCoordinates: "{}"
      properties:
        applicationCoordinates:
          type: object
        businessCategory:
          $ref: '#/components/schemas/BusinessCategoryResponseObject'
        displayName:
          description: Display name of the service for customer-facing UIs.
          type: string
        iconBase64:
          description: The icon of the service in Base64 format.
          type: string
        name:
          description: The unique registration name of the deployed service as defined
            by the service provider.
          type: string
        ownerType:
          description: |
            The owner type of the service. Possible values:
            * <b>VENDOR:</b> The owner is a service owner, who is affiliated with the cloud operator, that added the service to the product catalog for general consumption.
            * <b>CUSTOMER:</b> The owner is an SAP customer that added a custom service to the product catalog, and it is available only for consumption within the customer's global account.
            * <b>PARTNER:</b> The owner is an SAP partner that added the service to the product catalog, and it is available only to their customers for consumption.
          enum:
          - VENDOR
          - CUSTOMER
          - PARTNER
          type: string
        servicePlans:
          description: List of service plans associated with the assigned service.
          items:
            $ref: '#/components/schemas/AssignedServicePlanResponseObject'
          type: array
      type: object
    BusinessCategoryResponseObject:
      example:
        displayName: displayName
        id: id
      properties:
        displayName:
          description: Display name of the business category for customer-facing UIs.
          type: string
        id:
          description: Unique ID of the business category.
          type: string
      title: BusinessCategoryResponseObject
      type: object
    CommercialModelResponseObject:
      description: The commercial model type assigned to the entitlement.
      example:
        consumptionBased: true
        displayName: displayName
        name: name
        description: description
        containedCommercialModels:
        - null
        - null
      properties:
        consumptionBased:
          description: |-
            Whether a customer pays only for services that they actually use (consumption-based) or pays for subscribed services at a fixed cost irrespective of consumption (subscription-based).
            <b>True:</b> Consumption-based commercial model.<b>False:</b> Subscription-based commercial model.
          type: boolean
        containedCommercialModels:
          description: Directly contained commercial models.
          items:
            $ref: '#/components/schemas/CommercialModelResponseObject'
          type: array
        description:
          description: A description of the commercial model
          type: string
        displayName:
          description: A descriptive name of the commercial model for customer-facing
            UIs.
          type: string
        name:
          description: Technical name of the commercial model.
          type: string
      type: object
    DataCenterResponseCollection:
      example:
        datacenters:
        - provisioningServiceUrl: provisioningServiceUrl
          supportsTrial: true
          environment: environment
          displayName: displayName
          domain: domain
          name: name
          isMainDataCenter: true
          region: region
          saasRegistryServiceUrl: saasRegistryServiceUrl
          iaasProvider: AWS
        - provisioningServiceUrl: provisioningServiceUrl
          supportsTrial: true
          environment: environment
          displayName: displayName
          domain: domain
          name: name
          isMainDataCenter: true
          region: region
          saasRegistryServiceUrl: saasRegistryServiceUrl
          iaasProvider: AWS
      properties:
        datacenters:
          description: Contains information about the available data centers for a
            specified global account.
          items:
            $ref: '#/components/schemas/DataCenterResponseObject'
          type: array
      type: object
    DataCenterResponseObject:
      description: Contains information about the data centers and regions in the
        cloud landscape
      example:
        provisioningServiceUrl: provisioningServiceUrl
        supportsTrial: true
        environment: environment
        displayName: displayName
        domain: domain
        name: name
        isMainDataCenter: true
        region: region
        saasRegistryServiceUrl: saasRegistryServiceUrl
        iaasProvider: AWS
      properties:
        displayName:
          description: Descriptive name of the data center for customer-facing UIs.
          type: string
        domain:
          description: The domain of the data center
          type: string
        environment:
          description: "The environment that the data center supports. For example:\
            \ Kubernetes, Cloud Foundry."
          type: string
        iaasProvider:
          description: |-
            The infrastructure provider for the data center. Valid values:
            * <b>AWS:</b> Amazon Web Services.
            * <b>GCP:</b> Google Cloud Platform.
            * <b>AZURE:</b> Microsoft Azure.
            * <b>SAP:</b> SAP BTP (Neo).
            * <b>ALI:</b> Alibaba Cloud.
            * <b>IBM:</b> IBM Cloud.
          enum:
          - AWS
          - GCP
          - AZURE
          - SAP
          - ALI
          - IBM
          type: string
        isMainDataCenter:
          description: Whether the data center is designated as the primary data center
            within its region. Note that regions that comprise multiple data centers
            can have only one main data center defined.
          type: boolean
        name:
          description: Technical name of the data center. Must be unique within the
            cloud deployment.
          type: string
        provisioningServiceUrl:
          description: Provisioning service URL.
          type: string
        region:
          description: The region in which the data center is located.
          type: string
        saasRegistryServiceUrl:
          description: Saas-Registry service URL.
          type: string
        supportsTrial:
          description: Whether the specified data center supports trial accounts.
          type: boolean
      type: object
    DirectoryAssignmentsPatchUpdateRequestPayload:
      example:
        autoAssign: true
        autoDistributeAmount: 0
        service: service
        distribute: true
        plan: plan
        planUniqueIdentifier: planUniqueIdentifier
      properties:
        autoAssign:
          description: "Whether to automatically allocate the plans of entitlements\
            \ that have a numeric quota with the amount specified in auto-distribute-amount\
            \ to any new subaccount that is added to the directory in the future.\
            \ For entitlements without a numeric quota, the plan is assigned to any\
            \ new subaccount that is added to the directory in the future with the\
            \ condition that enable=TRUE is set (autoDistributeAmount is not relevant\
            \ in this case). If distribute=TRUE, the same assignment is also made\
            \ to all subaccounts currently in the directory. Entitlements are subject\
            \ to available quota in the directory."
          type: boolean
        autoDistributeAmount:
          description: |-
            The quota of the specified plan to automatically allocate to any new subaccount that is created in the future in the directory.
            When applying this option, you must set autoAssign=TRUE and/or distribute=TRUE. Applies only to entitlements that have a numeric quota. Entitlements are subject to available quota in the directory.
          format: int32
          type: integer
        distribute:
          description: "Whether to assign the plan with the quota specified in autoDistributeAmount\
            \ to subaccounts currently located in the specified directory. For entitlements\
            \ without a numeric quota, such as multitenant apps, the plan is assigned\
            \ to the subaccounts currently located in the directory (autoDistributeAmount\
            \ is not relevant in this case). In both cases, autoAssign must be set\
            \ to TRUE."
          type: boolean
        plan:
          description: The technical name of the entitlement to assign to the directory.
          type: string
        planUniqueIdentifier:
          description: A unique identifier for service plans that can distinguish
            between the same service plans with different pricing plans.
          type: string
        service:
          description: "The technical name of the entitlement (service, application,\
            \ environment) to assign."
          type: string
      required:
      - plan
      - service
      type: object
    DirectoryAssignmentsPatchUpdateRequestPayloadCollection:
      description: "JSON object that contains the specifications of an assignment,\
        \ such as the name of the assigned plan and whether to distribute the quota\
        \ and how much to subaccounts that currently exist in the directory and to\
        \ subaccounts that will be added to the directory in the future."
      example:
        entitlementUpdates:
        - autoAssign: true
          autoDistributeAmount: 0
          service: service
          distribute: true
          plan: plan
          planUniqueIdentifier: planUniqueIdentifier
        - autoAssign: true
          autoDistributeAmount: 0
          service: service
          distribute: true
          plan: plan
          planUniqueIdentifier: planUniqueIdentifier
      properties:
        entitlementUpdates:
          items:
            $ref: '#/components/schemas/DirectoryAssignmentsPatchUpdateRequestPayload'
          type: array
      required:
      - entitlementUpdates
      type: object
    DirectoryAssignmentsRequestPayload:
      example:
        amount: 0.8008281904610115
        autoAssign: true
        autoDistributeAmount: 6
        enable: true
        service: service
        distribute: true
        plan: plan
        planUniqueIdentifier: planUniqueIdentifier
      properties:
        amount:
          description: The quantity of the plan to assign to the specified directory.
            Relevant and mandatory only for plans that have a numeric quota.  Do not
            set if enable=TRUE is specified.
          type: number
        autoAssign:
          description: "Whether to automatically allocate the plans of entitlements\
            \ that have a numeric quota with the amount specified in auto-distribute-amount\
            \ to any new subaccount that is added to the directory in the future.\
            \ For entitlements without a numeric quota, the plan is assigned to any\
            \ new subaccount that is added to the directory in the future with the\
            \ condition that enable=TRUE is set (autoDistributeAmount is not relevant\
            \ in this case). If distribute=TRUE, the same assignment is also made\
            \ to all subaccounts currently in the directory. Entitlements are subject\
            \ to available quota in the directory."
          type: boolean
        autoDistributeAmount:
          description: |-
            The quota of the specified plan to automatically allocate to any new subaccount that is created in the future in the directory.
            When applying this option, you must set autoAssign=TRUE and/or distribute=TRUE. Applies only to entitlements that have a numeric quota. Entitlements are subject to available quota in the directory.
          format: int32
          type: integer
        distribute:
          description: "Whether to assign the plan with the quota specified in autoDistributeAmount\
            \ to subaccounts currently located in the specified directory. For entitlements\
            \ without a numeric quota, such as multitenant apps, the plan is assigned\
            \ to the subaccounts currently located in the directory (autoDistributeAmount\
            \ is not relevant in this case). In both cases, autoAssign must be set\
            \ to TRUE."
          type: boolean
        enable:
          description: Whether to allocate the plan to the to the specified directory
            without quantity restrictions. Relevant and mandatory only for plans that
            don't have a numeric quota. Do not use if amount is specified.
          type: boolean
        plan:
          description: The technical name of the entitlement to assign to the directory.
          type: string
        planUniqueIdentifier:
          description: A unique identifier for service plans that can distinguish
            between the same service plans with different pricing plans.
          type: string
        service:
          description: "The technical name of the entitlement (service, application,\
            \ environment) to assign."
          type: string
      required:
      - plan
      - service
      type: object
    DirectoryAssignmentsRequestPayloadCollection:
      description: "JSON object that contains the specifications of assignment, such\
        \ as the name of the assigned plan, the quantity to distribute, and whether\
        \ to distribute the quota and how much to subaccounts that currently exist\
        \ in the directory and to subaccounts that will added to the directory in\
        \ the future."
      example:
        entitlements:
        - amount: 0.8008281904610115
          autoAssign: true
          autoDistributeAmount: 6
          enable: true
          service: service
          distribute: true
          plan: plan
          planUniqueIdentifier: planUniqueIdentifier
        - amount: 0.8008281904610115
          autoAssign: true
          autoDistributeAmount: 6
          enable: true
          service: service
          distribute: true
          plan: plan
          planUniqueIdentifier: planUniqueIdentifier
      properties:
        entitlements:
          items:
            $ref: '#/components/schemas/DirectoryAssignmentsRequestPayload'
          type: array
      required:
      - entitlements
      type: object
    EntitledAndAssignedServicesResponseObject:
      example:
        entitledServices:
        - ownerType: VENDOR
          displayName: displayName
          businessCategory:
            displayName: displayName
            id: id
          name: name
          description: description
          iconBase64: iconBase64
          servicePlans:
          - providedBy: VENDOR
            amount: 7.061401241503109
            displayName: displayName
            unlimited: true
            dataCenters:
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            description: description
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            maxAllowedSubaccountQuota: 2
            availableForInternal: true
            provisioningMethod: SERVICE_BROKER
            remainingAmount: 4.145608029883936
            autoAssign: true
            autoDistributeAmount: 9
            sourceEntitlements:
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            internalQuotaLimit: 3
            name: name
            category: PLATFORM
            beta: true
            uniqueIdentifier: uniqueIdentifier
          - providedBy: VENDOR
            amount: 7.061401241503109
            displayName: displayName
            unlimited: true
            dataCenters:
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            description: description
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            maxAllowedSubaccountQuota: 2
            availableForInternal: true
            provisioningMethod: SERVICE_BROKER
            remainingAmount: 4.145608029883936
            autoAssign: true
            autoDistributeAmount: 9
            sourceEntitlements:
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            internalQuotaLimit: 3
            name: name
            category: PLATFORM
            beta: true
            uniqueIdentifier: uniqueIdentifier
          applicationCoordinates: "{}"
        - ownerType: VENDOR
          displayName: displayName
          businessCategory:
            displayName: displayName
            id: id
          name: name
          description: description
          iconBase64: iconBase64
          servicePlans:
          - providedBy: VENDOR
            amount: 7.061401241503109
            displayName: displayName
            unlimited: true
            dataCenters:
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            description: description
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            maxAllowedSubaccountQuota: 2
            availableForInternal: true
            provisioningMethod: SERVICE_BROKER
            remainingAmount: 4.145608029883936
            autoAssign: true
            autoDistributeAmount: 9
            sourceEntitlements:
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            internalQuotaLimit: 3
            name: name
            category: PLATFORM
            beta: true
            uniqueIdentifier: uniqueIdentifier
          - providedBy: VENDOR
            amount: 7.061401241503109
            displayName: displayName
            unlimited: true
            dataCenters:
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            - provisioningServiceUrl: provisioningServiceUrl
              supportsTrial: true
              environment: environment
              displayName: displayName
              domain: domain
              name: name
              isMainDataCenter: true
              region: region
              saasRegistryServiceUrl: saasRegistryServiceUrl
              iaasProvider: AWS
            description: description
            resources:
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            - resourceTechnicalName: resourceTechnicalName
              resourceData:
                key: "{}"
              resourceName: resourceName
              resourceProvider: resourceProvider
              resourceType: resourceType
            maxAllowedSubaccountQuota: 2
            availableForInternal: true
            provisioningMethod: SERVICE_BROKER
            remainingAmount: 4.145608029883936
            autoAssign: true
            autoDistributeAmount: 9
            sourceEntitlements:
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            - amount: 7.386281948385884
              autoAssign: true
              commercialModel:
                consumptionBased: true
                displayName: displayName
                name: name
                description: description
                containedCommercialModels:
                - null
                - null
              productId: productId
              entitlementName: entitlementName
            internalQuotaLimit: 3
            name: name
            category: PLATFORM
            beta: true
            uniqueIdentifier: uniqueIdentifier
          applicationCoordinates: "{}"
        fetchErrorFromExternalProviderRegistry: true
        assignedServices:
        - ownerType: VENDOR
          displayName: displayName
          businessCategory:
            displayName: displayName
            id: id
          name: name
          iconBase64: iconBase64
          servicePlans:
          - displayName: displayName
            unlimited: true
            name: name
            maxAllowedSubaccountQuota: 2
            category: PLATFORM
            beta: true
            assignmentInfo:
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            uniqueIdentifier: uniqueIdentifier
          - displayName: displayName
            unlimited: true
            name: name
            maxAllowedSubaccountQuota: 2
            category: PLATFORM
            beta: true
            assignmentInfo:
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            uniqueIdentifier: uniqueIdentifier
          applicationCoordinates: "{}"
        - ownerType: VENDOR
          displayName: displayName
          businessCategory:
            displayName: displayName
            id: id
          name: name
          iconBase64: iconBase64
          servicePlans:
          - displayName: displayName
            unlimited: true
            name: name
            maxAllowedSubaccountQuota: 2
            category: PLATFORM
            beta: true
            assignmentInfo:
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            uniqueIdentifier: uniqueIdentifier
          - displayName: displayName
            unlimited: true
            name: name
            maxAllowedSubaccountQuota: 2
            category: PLATFORM
            beta: true
            assignmentInfo:
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            - amount: 0.8008281904610115
              parentAmount: 1.4658129805029452
              entityType: GLOBAL_ACCOUNT or SUBACCOUNT
              stateMessage: stateMessage
              resources:
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              - resourceTechnicalName: resourceTechnicalName
                resourceData:
                  key: "{}"
                resourceName: resourceName
                resourceProvider: resourceProvider
                resourceType: resourceType
              autoAssigned: true
              entityId: GUID of GLOBAL_ACCOUNT or SUBACCOUNT
              unlimitedAmountAssigned: true
              parentId: parentId
              parentType: SUBACCOUNT
              autoAssign: true
              autoDistributeAmount: 6
              createdDate: createdDate
              entityState: STARTED
              parentRemainingAmount: 5.962133916683182
              modifiedDate: modifiedDate
              requestedAmount: 5.637376656633329
            uniqueIdentifier: uniqueIdentifier
          applicationCoordinates: "{}"
      properties:
        assignedServices:
          description: The list of services that are assigned to subaccounts located
            under a global account.
          items:
            $ref: '#/components/schemas/AssignedServiceResponseObject'
          type: array
        entitledServices:
          description: "Services entitled to global account, its directories and subaccounts."
          items:
            $ref: '#/components/schemas/EntitledServicesResponseObject'
          type: array
          uniqueItems: true
        fetchErrorFromExternalProviderRegistry:
          description: Whether the External Provider Registry (XPR) is available.
          type: boolean
      type: object
    EntitledServicesResponseObject:
      description: "Services entitled to global account, its directories and subaccounts."
      example:
        ownerType: VENDOR
        displayName: displayName
        businessCategory:
          displayName: displayName
          id: id
        name: name
        description: description
        iconBase64: iconBase64
        servicePlans:
        - providedBy: VENDOR
          amount: 7.061401241503109
          displayName: displayName
          unlimited: true
          dataCenters:
          - provisioningServiceUrl: provisioningServiceUrl
            supportsTrial: true
            environment: environment
            displayName: displayName
            domain: domain
            name: name
            isMainDataCenter: true
            region: region
            saasRegistryServiceUrl: saasRegistryServiceUrl
            iaasProvider: AWS
          - provisioningServiceUrl: provisioningServiceUrl
            supportsTrial: true
            environment: environment
            displayName: displayName
            domain: domain
            name: name
            isMainDataCenter: true
            region: region
            saasRegistryServiceUrl: saasRegistryServiceUrl
            iaasProvider: AWS
          description: description
          resources:
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          maxAllowedSubaccountQuota: 2
          availableForInternal: true
          provisioningMethod: SERVICE_BROKER
          remainingAmount: 4.145608029883936
          autoAssign: true
          autoDistributeAmount: 9
          sourceEntitlements:
          - amount: 7.386281948385884
            autoAssign: true
            commercialModel:
              consumptionBased: true
              displayName: displayName
              name: name
              description: description
              containedCommercialModels:
              - null
              - null
            productId: productId
            entitlementName: entitlementName
          - amount: 7.386281948385884
            autoAssign: true
            commercialModel:
              consumptionBased: true
              displayName: displayName
              name: name
              description: description
              containedCommercialModels:
              - null
              - null
            productId: productId
            entitlementName: entitlementName
          internalQuotaLimit: 3
          name: name
          category: PLATFORM
          beta: true
          uniqueIdentifier: uniqueIdentifier
        - providedBy: VENDOR
          amount: 7.061401241503109
          displayName: displayName
          unlimited: true
          dataCenters:
          - provisioningServiceUrl: provisioningServiceUrl
            supportsTrial: true
            environment: environment
            displayName: displayName
            domain: domain
            name: name
            isMainDataCenter: true
            region: region
            saasRegistryServiceUrl: saasRegistryServiceUrl
            iaasProvider: AWS
          - provisioningServiceUrl: provisioningServiceUrl
            supportsTrial: true
            environment: environment
            displayName: displayName
            domain: domain
            name: name
            isMainDataCenter: true
            region: region
            saasRegistryServiceUrl: saasRegistryServiceUrl
            iaasProvider: AWS
          description: description
          resources:
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          maxAllowedSubaccountQuota: 2
          availableForInternal: true
          provisioningMethod: SERVICE_BROKER
          remainingAmount: 4.145608029883936
          autoAssign: true
          autoDistributeAmount: 9
          sourceEntitlements:
          - amount: 7.386281948385884
            autoAssign: true
            commercialModel:
              consumptionBased: true
              displayName: displayName
              name: name
              description: description
              containedCommercialModels:
              - null
              - null
            productId: productId
            entitlementName: entitlementName
          - amount: 7.386281948385884
            autoAssign: true
            commercialModel:
              consumptionBased: true
              displayName: displayName
              name: name
              description: description
              containedCommercialModels:
              - null
              - null
            productId: productId
            entitlementName: entitlementName
          internalQuotaLimit: 3
          name: name
          category: PLATFORM
          beta: true
          uniqueIdentifier: uniqueIdentifier
        applicationCoordinates: "{}"
      properties:
        applicationCoordinates:
          type: object
        businessCategory:
          $ref: '#/components/schemas/BusinessCategoryResponseObject'
        description:
          description: Description of the service for customer-facing UIs.
          type: string
        displayName:
          description: Display name of the service for customer-facing UIs.
          type: string
        iconBase64:
          description: The icon of the service in Base64 format.
          type: string
        name:
          description: The unique registration name of the deployed service as defined
            by the service provider.
          type: string
        ownerType:
          description: |
            The owner type of the service. Possible values:
            * <b>VENDOR:</b> The owner is a service owner, who is affiliated with the cloud operator, that added the service to the product catalog for general consumption.
            * <b>CUSTOMER:</b> The owner is an SAP customer that added a custom service to the product catalog, and it is available only for consumption within the customer's global account.
            * <b>PARTNER:</b> The owner is an SAP partner that added the service to the product catalog, and it is available only to their customers for consumption.
          enum:
          - VENDOR
          - CUSTOMER
          - PARTNER
          type: string
        servicePlans:
          description: List of service plans associated with the entitled service.
          items:
            $ref: '#/components/schemas/ServicePlanResponseObject'
          type: array
      type: object
    EntitlementAmountResponseObject:
      description: Relevant entitlements for the source that added the product.
      example:
        amount: 7.386281948385884
        autoAssign: true
        commercialModel:
          consumptionBased: true
          displayName: displayName
          name: name
          description: description
          containedCommercialModels:
          - null
          - null
        productId: productId
        entitlementName: entitlementName
      properties:
        amount:
          description: The quantity of the entitlement that is assigned to the root
            global account or directory.
          type: number
        autoAssign:
          description: "Specifies if a plan associated with this entitlement will\
            \ be automatically assigned by the system to any new subaccount. For example,\
            \ free plans that are available to all subaccounts."
          type: boolean
        commercialModel:
          $ref: '#/components/schemas/CommercialModelResponseObject'
        entitlementName:
          description: The technical name of the product.
          type: string
        productId:
          description: The unique ID of the material (product) to which the assigned
            service plan belongs.
          type: string
      type: object
    ExternalResourceRequestPayload:
      description: External resources to assign to subaccount
      example:
        resourceTechnicalName: resourceTechnicalName
        resourceData:
          key: "{}"
        resourceName: resourceName
        resourceProvider: resourceProvider
        resourceType: resourceType
      properties:
        resourceData:
          additionalProperties:
            description: Any additional data to include.
            type: object
          description: Any additional data to include.
          type: object
        resourceName:
          description: The name of the resource.
          type: string
        resourceProvider:
          description: The name of the provider.
          type: string
        resourceTechnicalName:
          description: The unique name of the resource.
          type: string
        resourceType:
          description: The type of the provider. For example infrastructure-as-a-service
            (IaaS).
          type: string
      type: object
    JsonNode:
      description: Error description in JSON format
      type: object
    NestingErrorDetailsResponseObject:
      description: Nesting of error responses
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    ServicePlanAssignmentRequestPayload:
      description: Contains information about the plans to assign to a subaccount.
      example:
        servicePlanName: servicePlanName
        servicePlanUniqueIdentifier: servicePlanUniqueIdentifier
        serviceName: serviceName
        assignmentInfo:
        - amount: 0.8008281904610115
          enable: true
          resources:
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          subaccountGUID: subaccountGUID
        - amount: 0.8008281904610115
          enable: true
          resources:
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          - resourceTechnicalName: resourceTechnicalName
            resourceData:
              key: "{}"
            resourceName: resourceName
            resourceProvider: resourceProvider
            resourceType: resourceType
          subaccountGUID: subaccountGUID
      properties:
        assignmentInfo:
          description: List of assigned entitlements and their specifications.
          items:
            $ref: '#/components/schemas/SubaccountServicePlanRequestPayload'
          type: array
        serviceName:
          description: The technical name of the entitlement to assign to a subaccount.
          type: string
        servicePlanName:
          description: The technical name of the entitlement's plan.
          type: string
        servicePlanUniqueIdentifier:
          description: The unique identifier of the entitlement's plan. As obtained
            in the GET assignments endpoint.
          type: string
      required:
      - assignmentInfo
      - serviceName
      - servicePlanName
      type: object
    ServicePlanResponseObject:
      description: List of service plans associated with the entitled service.
      example:
        providedBy: VENDOR
        amount: 7.061401241503109
        displayName: displayName
        unlimited: true
        dataCenters:
        - provisioningServiceUrl: provisioningServiceUrl
          supportsTrial: true
          environment: environment
          displayName: displayName
          domain: domain
          name: name
          isMainDataCenter: true
          region: region
          saasRegistryServiceUrl: saasRegistryServiceUrl
          iaasProvider: AWS
        - provisioningServiceUrl: provisioningServiceUrl
          supportsTrial: true
          environment: environment
          displayName: displayName
          domain: domain
          name: name
          isMainDataCenter: true
          region: region
          saasRegistryServiceUrl: saasRegistryServiceUrl
          iaasProvider: AWS
        description: description
        resources:
        - resourceTechnicalName: resourceTechnicalName
          resourceData:
            key: "{}"
          resourceName: resourceName
          resourceProvider: resourceProvider
          resourceType: resourceType
        - resourceTechnicalName: resourceTechnicalName
          resourceData:
            key: "{}"
          resourceName: resourceName
          resourceProvider: resourceProvider
          resourceType: resourceType
        maxAllowedSubaccountQuota: 2
        availableForInternal: true
        provisioningMethod: SERVICE_BROKER
        remainingAmount: 4.145608029883936
        autoAssign: true
        autoDistributeAmount: 9
        sourceEntitlements:
        - amount: 7.386281948385884
          autoAssign: true
          commercialModel:
            consumptionBased: true
            displayName: displayName
            name: name
            description: description
            containedCommercialModels:
            - null
            - null
          productId: productId
          entitlementName: entitlementName
        - amount: 7.386281948385884
          autoAssign: true
          commercialModel:
            consumptionBased: true
            displayName: displayName
            name: name
            description: description
            containedCommercialModels:
            - null
            - null
          productId: productId
          entitlementName: entitlementName
        internalQuotaLimit: 3
        name: name
        category: PLATFORM
        beta: true
        uniqueIdentifier: uniqueIdentifier
      properties:
        amount:
          description: The assigned quota for maximum allowed consumption of the plan.
            Relevant for services that have a numeric quota assignment.
          type: number
        autoAssign:
          description: Whether to automatically assign a quota of the entitlement
            to a subaccount when the subaccount is created in the entitlement's assigned
            directory.
          type: boolean
        autoDistributeAmount:
          description: "The amount of the entitlement to automatically assign to a\
            \ subaccount when the subaccount is created in the entitlement's assigned\
            \ directory.\nRequires that autoAssign is set to TRUE, and there is remaining\
            \ quota for the entitlement. "
          format: int32
          type: integer
        availableForInternal:
          description: Whether the service plan is available internally to SAP users.
          type: boolean
        beta:
          description: Whether the service plan is a beta feature.
          type: boolean
        category:
          description: |-
            The type of service offering. Possible values:
            * <b>PLATFORM:</b> A service required for using a specific platform; for example, Application Runtime is required for the Cloud Foundry platform.
            * <b>SERVICE:</b> A commercial or technical service. that has a numeric quota (amount) when entitled or assigned to a resource. When assigning entitlements of this type, use the 'amount' option instead of 'enable'. See: PUT/entitlements/v1/directories/{directoryGUID}/assignments.
            * <b>ELASTIC_SERVICE:</b> A commercial or technical service that has no numeric quota (amount) when entitled or assigned to a resource. Generally this type of service can be as many times as needed when enabled, but may in some cases be restricted by the service owner. When assigning entitlements of this type, use the 'enable' option instead of 'amount'. See: PUT/entitlements/v1/directories/{directoryGUID}/assignments.
            * <b>ELASTIC_LIMITED:</b> An elastic service that can be enabled for only one subaccount per global account.
            * <b>APPLICATION:</b> A multitenant application to which consumers can subscribe. As opposed to applications defined as a 'QUOTA_BASED_APPLICATION', these applications do not have a numeric quota and are simply enabled or disabled as entitlements per subaccount.
            * <b>QUOTA_BASED_APPLICATION:</b> A multitenant application to which consumers can subscribe. As opposed to applications defined as 'APPLICATION', these applications have an numeric quota that limits consumer usage of the subscribed application per subaccount. When maxAllowedSubaccountQuota is > 0, this is the limit that can be set when assigning the max quota entitlement of the app to any subaccount. If maxAllowedSubaccountQuota is = 0 or null, the max quota that can be entitled to any subaccount is the amount purchased by the customer (the global account quota).
            * <b>ENVIRONMENT:</b> An environment service; for example, Cloud Foundry.
          enum:
          - PLATFORM
          - SERVICE
          - ELASTIC_SERVICE
          - ELASTIC_LIMITED
          - APPLICATION
          - QUOTA_BASED_APPLICATION
          - ENVIRONMENT
          type: string
        dataCenters:
          description: Contains information about the data centers and regions in
            the cloud landscape
          items:
            $ref: '#/components/schemas/DataCenterResponseObject'
          type: array
        description:
          description: Description of the service plan for customer-facing UIs.
          type: string
        displayName:
          description: Display name of the service plan for customer-facing UIs.
          type: string
        internalQuotaLimit:
          description: |-
            The quota limit that is allowed for this service plan for SAP internal users.
            If null, the default quota limit is set to 200.
            Applies only when the availableForInternal property is set to TRUE.
          format: int32
          type: integer
        maxAllowedSubaccountQuota:
          description: |-
            The maximum allowed usage quota per subaccount for multitenant applications and environments that are defined as "quota-based". This quota limits the usage of the application and/or environment per subaccount per a given usage metric that is defined within the application or environment by the service provider. If null, the usage limit per subaccount is the maximum free quota in the global account.
            For example, a value of 1 could: (1) limit the number of subscriptions to a quota-based multitenant application within a global account according to the purchased quota, or (2) restrict the enablement of a single instance of an environment per subaccount.
          format: int32
          type: integer
        name:
          description: The unique registration name of the service plan.
          type: string
        providedBy:
          description: |-
            [DEPRECATED] The source that added the service. Possible values:
            * <b>VENDOR:</b> The product has been added by SAP or the cloud operator to the product catalog for general use.
            * <b>GLOBAL_ACCOUNT_OWNER:</b> Custom services that are added by a customer and are available only for that customer’s global account.
            * <b>PARTNER:</b> Service that are added by partners. And only available to its customers.

            Note: This property is deprecated. Please use the ownerType attribute on the entitledService level instead.
          enum:
          - VENDOR
          - GLOBAL_ACCOUNT_OWNER
[...]
